.bg {text-align:center;}


.bg .soupes   {
background-image: url('../img/soup.jpg');
}


.bg .viande   {
    background-image: url('../img/viande.webp');
    }
 .bg .dessert   {
        background-image: url('../img/dessert.jpg');
        }

        .bg .salades   {
            background-image: url('../img/salade.webp');
            }
            .bg .plats   {
                background-image: url('../img/plats.webp');
                }
                .bg .entrée   {
                    background-image: url('../img/entree.jpeg');
                    }